@model CRUD_EFCS.Models.Pessoa;

<h2>Cadastro de Pessoas</h2>   

<form class="form-horizontal" asp-controller="Pessoa" asp-action="Salvar" method="post"> 
    <input type="number" hidden class="form_controle" asp-for="Id">
    <input type="text" class="form-control" asp-for="Nome" placeholder="Nome da Pessoa"> 
    <input type="text" class="form-control" asp-for="SobreNome" placeholder="Sobre Nome da pessoa">
    <input type="number" class="form-control" asp-for="Idade" placeholder="Digite a idade">
    <button class="btn btn-success">Cadastrar</button> 

</form> 